
/* HEADER FOR BIG SCREENS */
header.big-screen {
    position: fixed;
    // position: absolute;
    top: 0;
    left: 0;
    right: 0;
    // background-color: $brown-color;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 120px;
    z-index: 9999;
    padding: 40px 80px;
    // border: $border-check-1;



    
    
    .logo{
        // border: $border-check-2;        
        flex-basis: 120px;
        z-index: 99999;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a {
              width: 120px;
              height: auto;
              outline: none;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              color: $lighter-brown;
              text-decoration: none;
              letter-spacing: 3px;
                            
            }
        
        
    }

    div.header-nav-search-menu-btns{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      nav.header-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-right: 100px;
  
        ul {
          list-style: none;
  
          &.menu-items{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            li{
              display: flex;
              flex-direction: row;
         
              &:not(:last-child){
                margin-right: 80px;
                
              }
              a{
                text-decoration: none;
                font-family: $font-family-1;
                font-size: $paragraph-font-size-3;
                color: $lighter-brown;
                letter-spacing: 2px;
              }
             
              
           
            }
          }
          
        }
      }
  
      div.search-menu-btns{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .seacrh-btn{
          margin-right: 36px;
        }
        .menu-btn{
            width: 80px;
            // margin-right: 624px;
            z-index: 99999;
    
            button{
                width: 80px;
                border: none;
                outline: none;
                background-color: transparent;
                font-family: $font-family-2;
                font-size: $paragraph-font-size-2;
                color: $lighter-brown;
                font-weight: 400;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
    
                .menu-icon{
                    // border: $border-check-2;
                    width: 30px;
                    height: 11px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
    
                  
                    div{
                        width: 30px;
                        height: 1px;
                        background-color: $lighter-brown;

                        &.two{
                          margin-left: 30px;
                        }
                    }
                }
            }
        } 
      }
    }
    
  nav.menu-nav{
    position: fixed;
    // top: -640px;
    // top: 0px;
    top: 50%;
    left: 50%;
    // right: 0;
    // transform: translate(-50%, -1200px);
    transform: translate(-50%, -50%);
    clip-path: circle(0% at 50% 0);
    // display: none;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: $brown-color;
    padding:0px 48px 0 310px;
    // transition: all .7s ease;
    transition: all .7s cubic-bezier(0.77,-0.01, 0.59, 0.87);

    @media only screen and (max-width: 1300px) {
      padding:0px 0px 0 280px;
    }

    @media only screen and (max-width: 1200px) {
      padding:0px 0px 0 170px;
    }
    @media only screen and (max-width: 800px) {
      padding:0px 0px 0 140px;
    }
    @media only screen and (max-width: 500px) {
      padding:0px 0px 0 115px;
    }
    @media only screen and (max-width: 400px) {
      padding:0px 0px 0 95px;
    }
    @media only screen and (max-width: 360px) {
      padding:0px 0px 0 84px;
    }


      ul {
        list-style: none;

        &.menu-items{
     
          li{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            
            
            transition: all 0.5s ease;


            &:not(:last-child){
              margin-bottom: 30px;

              @media only screen and (max-width: 900px) {
                margin-bottom: 28px;
              }
              @media only screen and (max-width: 700px) {
                margin-bottom: 24px;
              }
              @media only screen and (max-width: 400px) {
                margin-bottom: 20px;
              }
              
            }
            a{
              text-decoration: none;
              font-family: $font-family-1;
              font-size: $heading-1-font-size;
              color: $lighter-brown;
              // transition: all .5s ease; 
              clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
              transition: all .5s cubic-bezier(0.77,-0.01, 0.59, 0.87);
              transform: translateY(40px);

              @media only screen and (max-width: 1300px) {
                font-size: 48px;
              }
              @media only screen and (max-width: 1000px) {
                font-size: 42px;
              }
              @media only screen and (max-width: 900px) {
                font-size: 36px;
              }
              @media only screen and (max-width: 700px) {
                font-size: 34px;
              }
              @media only screen and (max-width: 400px) {
                font-size: 32px;
              }
              @media only screen and (max-width: 400px) {
                font-size: 30px;
              }
            }
           
            
         
          }
        }
        
      }
  }

}





/* MEDIA QUERIES STARTS */
/* 1160px */
// @media only screen and (max-width: 1160px) {
//     header.big-screen {
//         display: none;
//       }
//     header.small-screen {
//        display: flex;
//      }
//  }
// /* 1161px */
// @media only screen and (min-width: 1161px) {
//     header.big-screen {
//         display: flex;
//       }
//     header.small-screen {
//        display: none;
//      }
//  }
 /* MEDIA QUERIES ENDS */