
main{
    width: 100vw;
    height: auto;   
    background-color: $brown-color;
    margin: 40px auto 40px auto;
    // margin-top: 80px;
    padding: 0 140px;
    @include center;
    // border: $border-check-1;

    @media only screen and (max-width: 900px) {
        padding: 0px 60px;
    }
    @media only screen and (max-width: 600px) {
        padding: 0px 40px;
    }
    @media only screen and (max-width: 600px) {
        padding: 0px 30px;
    }

section#artworks{
    position: relative;
    width: 100%;
    height: auto; 
    margin: 120px 80px 120px 80px;
    // padding: 160px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: $border-check-2;

  div.artworks-container{
        width: 100%;
        // height: 460px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // padding-left: 60px;



        height: 650px;
        padding:0px 0px 0 200px;
        width: 100vw;
    /*     border: 1px solid white; */
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        user-select: none;
        cursor: pointer;
        transition: all 0.5s ease;
        // transform: scale(0.98);
    /*     will-change: transform; */
        position: relative;



        &::-webkit-scrollbar {
            width: 0px;
        /*   display: none; */
        }
        &::-webkit-scrollbar-track {
        background: rgba(229, 194, 229, 0);
        }
        
        &::-webkit-scrollbar-thumb {
            background: rgba(148, 201, 209, 0);
        }

        &.active {
            cursor: grabbing;
            cursor: -webkit-grabbing;
        /*     transform: scale(1); */
        }

        article.artwork{
            cursor: grab;
            &:not(:last-child){
                margin-right: 80px; 
            }
            img{
                mix-blend-mode: lighten;
                transition: all 3s ease;
                &:hover{
                    mix-blend-mode: normal;
                }
            }

            .artwork__info{
                margin-top: -100px;
                margin-left: 150px;
            }
        }
  }

    img.circle-lines{
       position: absolute;
       top: -25px;
       left: 35px;
       transform: translate(-50%, -50%);
       animation: rotateReverse 30s linear 0s infinite;

    }
}
}