main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: auto;
    margin: 300px auto 60px auto;
    transition: all .3s ease;

    
    @media only screen and (max-width: 1000px) {
        margin: 240px auto 60px auto;
        
    }
    @media only screen and (max-width: 760px) {
        margin: 240px auto 40px auto;
        
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto;
        position: relative;
        transition: all .3s ease;

        
        article{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            width: 100%;
            height: auto;
            padding: 0 80px;
            transition: all .3s ease;


            @media only screen and (max-width: 1260px) {
                padding: 0px 50px;
              }
              @media only screen and (max-width: 760px) {
                padding: 6px 40px;
              }
              @media only screen and (max-width: 680px) {
                padding: 6px 30px;
              }

              div.lines{
                position: absolute;
                top: -8%;
                left: 20%;
                width: 168px;
                height: 68.11px;
                transform: translate(-50%, -50%);
                
                @media only screen and (max-width: 1200px) {
                    top: -5%;
                    left: 19%;
                }
                @media only screen and (max-width: 1000px) {
                    top: -1.3%;
                    left: 19%;
                }
                @media only screen and (max-width: 760px) {
                    top: -1.8%;
                    left: 23%;
                    transform: translate(-50%, -50%) scale(0.8);
                }
                @media only screen and (max-width: 600px) {
                    top: -2.3%;
                    left: 25%;
                }
                @media only screen and (max-width: 500px) {
                    top: -3%;
                    left: 27%;
                }
    
                div.line-v{
                    width: 1px;
                    height:  68.11px;
                    background-color: $lighter-brown;
                }
                div.line-h{
                    position: absolute;
                    top: 50%;
                    left: 0%;
                    transform: translate(-50%, -50%);
                    width: 168px;
                    height: 1px;
                    background-color: $lighter-brown;
                }
            }


            div.img-app{

                div.img-gallery{
                    cursor: pointer;
                    transition: all .5s ease;
                    width: 100%;
                    margin-bottom: 260px;
                    display: grid;
                    grid-template-columns: 380px 380px 380px;
                    grid-template-rows: 310px 310px 310px;
                    grid-gap: 40px;
                    justify-content: center;
                    align-items: flex-start;
                    
                    @media only screen and (max-width: 1400px) {
                        grid-template-columns: 360px 360px 360px;
                    }
                    @media only screen and (max-width: 1340px) {
                        grid-template-columns: 480px 480px;
                        grid-template-rows: 388px 388px 388px 388px;
                        // grid-template-rows: auto;
                    }
                    @media only screen and (max-width: 1200px) {
                        margin-bottom: 240px;
                    }
                    @media only screen and (max-width: 1100px) {
                        grid-template-columns: 420px 420px;
                        margin-bottom: 200px;
                    }
                    @media only screen and (max-width: 1000px) {
                        margin-bottom: 180px;
                        grid-template-columns: 100%;
                        grid-template-rows: auto;
                    }
                    @media only screen and (max-width: 920px) {
                        margin-bottom: 160px;
                        
                    }
                    @media only screen and (max-width: 760px) {
                        margin-bottom: 80px;
                    
                    }

                    figure.gallery-image{
                        margin:0;
                        display: block;
                        position: relative;
                        width: 100%;
                        height: 100%;
                       
                        img{
                            // max-width: 100%;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: block;
                            transform-origin: top left;
                        }

                        figcaption {
                            position: absolute;
                            bottom: 10px;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            color: $cream-color;
                            font-family: $font-family-1;
                            font-size: 17px;
                            font-weight: 300;
                            height: auto;
                            padding: 18px 32px;
                            width: 80%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            transition: all .5s ease;
                            background-color: $lighter-brown;
                            border-radius: 50%;

                            @media only screen and (max-width: 1340px) {
                                width: 60%;
                            }
                            @media only screen and (max-width: 1000px) {
                                width: 54%;
                                font-size: 22px;
                            }
                            @media only screen and (max-width: 600px) {
                                width: 60%;
                                font-size: 19px;
                                bottom: 5px;
                            }
                            @media only screen and (max-width: 500px) {
                                width: 80%;
                                font-size: 17px;
                            }
                            @media only screen and (max-width: 420px) {
                                width: 90%;
                                bottom: 2px;
                                font-size: 14px;
                            }
                          }
                          
                          &:hover figcaption {
                            opacity: 1;
                          }
                    }


                 
                    
                }

                
            }


            .artwork-detail {
                    z-index: 999999;
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100vw;
                    height: 100vh;
                    background-color: rgba($brown-color,0);
                    pointer-events: none;
                    transition: all .5s ease;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  
                    .gallery-image {
                      width: 100%;
                      height: 100%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      
                      img { 
                        object-fit: contain; 
                        width: 90%;
                        height: 90%;
                        transform: scale(1) !important;
                      }
                      
                      figcaption { display: none; }
                      
                    }

                    a{
                        text-decoration: none;
                        font-size: 16px;
                        width: 240px;
                        text-align: right;
                        position: absolute;
                        right: -80px;
                        bottom: 30px;
                        transform: translate(-50%,-50%);
                        color: $lighter-brown;

                        &::before{
                            content: url('../../assets/images/next-arrow.svg');
                            position: absolute;
                            right: -23px;
                            bottom: 64px;
                            transform: translate(-50%,-50%);
                        }
                    }
            }
            
            div.img-app[data-state="detail"] .artwork-detail {
              
                background-color: rgba($brown-color,1);
                pointer-events: auto;
                .gallery-image { opacity: 1; }
            }
            
            div#artwork-app[data-state="gallery"] .artwork-detail {
                
                .gallery-image {
                    opacity: 0;
                    // transition: none;
                }
            }
            
            div#artwork-app {                
                .img-gallery .gallery-image {
                pointer-events: auto;
                }
            }
            
            .gallery-image {
                transition: all .5s ease;
            }
            
            div#artwork-app:hover .img-gallery {
                
                .gallery-image[data-flipping],
                .gallery-image:hover { 
                opacity: 1;
                transition-duration: .5s;
                }
            }



            //   div.img-wrapper{
            //     cursor: pointer;
            //     transition: all .3s ease;
            //     width: 100%;
            //     margin-bottom: 260px;
            //     display: grid;
            //     grid-template-columns: 360px 360px 360px;
            //     grid-template-rows: 300px 300px 300px;
            //     grid-gap: 40px;
            //     justify-content: center;
            //     align-items: flex-start;
                
            //     @media only screen and (max-width: 1340px) {
            //         grid-template-columns: 420px 420px;
            //         grid-template-rows: 300px 300px 300px 300px;
            //     }
            //     @media only screen and (max-width: 1200px) {
            //         margin-bottom: 240px;
            //     }
            //     @media only screen and (max-width: 1100px) {
            //         margin-bottom: 200px;
            //     }
            //     @media only screen and (max-width: 1000px) {
            //         margin-bottom: 180px;
            //         grid-template-columns: 100%;
            //         grid-template-rows: auto;
            //     }
            //     @media only screen and (max-width: 920px) {
            //         margin-bottom: 160px;
                    
            //     }
            //     @media only screen and (max-width: 760px) {
            //         margin-bottom: 80px;
                  
            //     }
               
            //     div.img-container{
            //         width: 100%;
            //         height: 100%;
            //         transition: all .3s ease-out;
            //         display: flex;
            //         flex-direction: column;
            //         justify-content: center;
            //         align-items: center;
    
                    
            //         img{
            //             width: 100%;
            //             height: 100%;
            //             object-fit: cover;
            //             transition: all .2s ease-out;
            //         }
            //     }

            //     div.scroll-down{
            //     position: absolute;
            //     top: 40%;
            //     left: 105%;
            //     transform: translate(-50%, -50%);
                
            //     @media only screen and (max-width: 1400px) {
            //         top: 48%;
                    
            //     }
            //     @media only screen and (max-width: 1300px) {
            //         top: 54%;
                    
            //     }
            //     @media only screen and (max-width: 1200px) {
            //         top: 58%;
                    
            //     }
            //     @media only screen and (max-width: 1100px) {
            //         top: 64%;
            //     }
            //     @media only screen and (max-width: 920px) {
            //         top: 60%;
            //         left: 100%;
                    
            //     }
            //     @media only screen and (max-width: 760px) {
            //         top:130%;
            //         left: 50%;
            //         transform: translate(-50%, -50%) scale(0.9);
            //     }
            //     @media only screen and (max-width: 700px) {
            //         top:132%;
            //     }
            //     @media only screen and (max-width: 640px) {
            //         top:134%;
            //     }
            //     @media only screen and (max-width: 600px) {
            //         top:136%;
            //     }
            //     @media only screen and (max-width: 580px) {
            //         top:138%;
            //     }
            //     @media only screen and (max-width: 540px) {
            //         top:140%;
            //     }
            //     @media only screen and (max-width: 520px) {
            //         top:142%;
            //     }
            //     @media only screen and (max-width: 500px) {
            //         top:144%;
            //     }
            //     @media only screen and (max-width: 480px) {
            //         top:146%;
            //     }
            //     @media only screen and (max-width: 460px) {
            //         top:148%;
            //     }
            //     @media only screen and (max-width: 440px) {
            //         top:152%;
            //     }
            //     @media only screen and (max-width: 420px) {
            //         top:154%;
            //     }
            //     @media only screen and (max-width: 400px) {
            //         top:158%;
            //     }
            //     @media only screen and (max-width: 380px) {
            //         top:162%;
            //     }
            //     @media only screen and (max-width: 360px) {
            //         top:166%;
            //     }
            //     @media only screen and (max-width: 340px) {
            //         top:170%;
            //     }
            //     @media only screen and (max-width: 320px) {
            //         top:172%;
            //     }
                
            //     img{
            //         position: absolute;
            //         top: 50%;
            //         left: 50%;
            //         transform: translate(-50%, -50%);
            //     }
    
            //     img.circle-text{
            //         animation: rotate 30s linear 0s infinite;
            //     }
            //     }
            // }
            

        }
        div.lines{
            position: absolute;
            bottom: -2%;
            left: 28%;
            width: 84px;
            height: 68.11px;
            transform: translate(-50%, -50%);

            @media only screen and (max-width: 760px) {
                left: 22%;
                transform: translate(-50%, -50%) scale(0.8);
            }

            div.line-v{
                width: 1px;
                height:  68.11px;
                background-color: $lighter-brown;
            }
            div.line-h{
                position: absolute;
                top: 50%;
                left: 0%;
                transform: translate(-50%, -50%);
                width: 168px;
                height: 1px;
                background-color: $lighter-brown;
            }
        }
        
    }

 
}