main{
        width: 100vw;
        height: auto;   
        background-color: $brown-color;
        margin: 40px auto 0 auto;
        // margin-top: 80px;
        padding: 0 140px;
        @include center;
        // border: $border-check-1;

        @media only screen and (max-width: 900px) {
            padding: 0px 60px;
        }
        @media only screen and (max-width: 600px) {
            padding: 0px 40px;
        }
        @media only screen and (max-width: 600px) {
            padding: 0px 30px;
        }

    section#hero{
        width: 100%;
        height: auto; 
        margin: 60px 80px 0px 80px;
        // padding: 160px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // border: $border-check-2;

        @media only screen and (max-width: 1550px) {
            margin: 60px 60px 0px 60px;
        }
        @media only screen and (max-width: 1250px) {
            margin: 0px 60px 0px 60px;
        }
        @media only screen and (max-width: 1030px) {
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            margin: 0px 60px 60px 60px;
        }
  
        @media only screen and (max-width: 400px) {
            margin: 0px auto 48px auto;
        }
    }
}