main{
        width: 100vw;
        height: auto;   
        background-color: $brown-color;
        margin: 40px auto 0 auto;
        // margin-top: 80px;
        padding: 0 140px;
        @include center;
        // border: $border-check-1;

        @media only screen and (max-width: 900px) {
            padding: 0px 60px;
        }
        @media only screen and (max-width: 600px) {
            padding: 0px 40px;
        }
        @media only screen and (max-width: 600px) {
            padding: 0px 30px;
        }

    section#hero{
        width: 100%;
        height: 100vh; 
        margin: 0px 80px 80px 80px;
        // padding: 160px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // border: $border-check-2;

     
        // div.hero-img{
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     // width: 800px;
        //     transform: translate(-50%, -50%);
            
            img.hero-img{
                position: absolute;
                top: 55%;
                left: 51%;
                transform: translate(-50%, -50%);
                mix-blend-mode: lighten;
                transition: all 3s ease;
                &:hover{
                    mix-blend-mode: normal;
                }
    
            }
            h1{
                position: absolute;
                top: 26%;
                left: 63.5%;
                transform: translate(-50%, -50%);
            }
        // }

        div.lines{
            position: absolute;
            top: 22%;
            left: 27%;
            width: 168px;
            height: 68.11px;
            transform: translate(-50%, -50%);

            div.line-v{
                width: 1px;
                height:  68.11px;
                background-color: $lighter-brown;
            }
            div.line-h{
                position: absolute;
                top: 50%;
                left: 0%;
                transform: translate(-50%, -50%);
                width: 168px;
                height: 1px;
                background-color: $lighter-brown;
            }
        }

        div.scroll-down{
            position: absolute;
            top: 82%;
            left: 88%;
            transform: translate(-50%, -50%);
           
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            img.circle-text{
                animation: rotate 30s linear 0s infinite;
            }
        }
        a.cta-btn{
            position: absolute;
            top: 72.5%;
            left: 25.4%;
            transform: translate(-50%, -50%);
            border: 1px solid rgba($lighter-brown, 1);
            text-decoration: none;
            padding: 24px 24px;
            font-size: $paragraph-font-size-2;
            color: $lighter-brown;
            font-family: $font-family-2;

            cursor: pointer;

            svg{
                margin-left: 20px;
            }
        }
    }
}