main{
        width: 100vw;
        height: auto;   
        background-color: $brown-color;
        margin: 40px auto 0 auto;
        // margin-top: 80px;
        padding: 0 140px;
        @include center;
        // border: $border-check-1;

        @media only screen and (max-width: 900px) {
            padding: 0px 60px;
        }
        @media only screen and (max-width: 760px) {
            padding: 0px 40px;
          }
          @media only screen and (max-width: 680px) {
            padding: 0px 30px;
          }

    section#hero{
        width: 100%;
        height: 100vh; 
        margin: 0px 80px 80px 80px;
        // padding: 160px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border: $border-check-2;

         
        @media only screen and (max-width: 760px) {
            margin: 0px 0px 80px 0px;
        }
        
        
        div.hero-text-content{
            position: relative;
            width: 50%;
            height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // border: $border-check-2;

            @media only screen and (max-width: 760px) {
                width: 100%;
            }
            
            img.hero-img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                mix-blend-mode: lighten;
                @media only screen and (max-width: 1260px) {
                   width: 60vw;
                }
                @media only screen and (max-width: 760px) {
                    top: 50%;
                    width: 100%;
                }
                &:hover{
                    mix-blend-mode: normal;
                }
                
            }
            h1{
                position: absolute;
                top: 3%;
                left: 82%;
                transform: translate(-50%, -50%);
                width: 420px;
                // transition: all 1s ease-out;

                @media only screen and (max-width: 760px) {
                    top: 11%;
                    font-size: 43px;
                    width: 212px;
                    left: 50%;
                }
            }
            a.cta-btn{
                // transition: all 1s ease-out;
                position: absolute;
                top: 76.5%;
                left: -10.5%;
                transform: translate(-50%, -50%);
                border: 1px solid rgba($lighter-brown, 1);
                text-decoration: none;
                padding: 24px 24px;
                font-size: $paragraph-font-size-2;
                color: $lighter-brown;
                font-family: $font-family-2;
                outline: 0;
                cursor: pointer;

                @media only screen and (max-width: 760px) {
                    padding: 18px 18px;
                    left: 50%;
                    width: 236px;
                }
    
                &::before {
                    content: '';
                    position: absolute;
                    background-color: $lighter-brown;
                    transition: 0.2s linear;
                    top: 0;
                    bottom: 0;
                    // right: 0; 
                    right: -1px; 
                    height: 100%;
                    // width: 0%;
                    width: 39%;
                    z-index: -1;
                    clip-path: polygon(26% 0, 100% 0, 100% 100%, 0% 100%);
                  }
    
                
    
                svg{
                    margin-left: 20px;
                    margin-bottom: -2px;
    
                    line{
                            stroke: $cream-color;
                            // transition: 0.3s ease;
                    }
                }
    
                &:active, &:hover, &:focus {
                    outline: 0;
                }
    
                &:hover::before {
                    width: 101%;
                    // right: 1px;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                }
                &:hover {
                    color: $cream-color;
                    font-weight: 300;
                    // letter-spacing: .1px;
                    
                    // svg{
                    //     // line{
                    //     //     stroke: $cream-color;
                    //     //     transition: 0.3s ease;
                    //     // }
                    // }
                }
            }
        }

        div.lines{
            position: absolute;
            top: 22%;
            left: 27%;
            width: 168px;
            height: 68.11px;
            transform: translate(-50%, -50%);

            @media only screen and (max-width: 760px) {
                transform: translate(-50%, -50%) scale(0.8);
            }

            div.line-v{
                width: 1px;
                height:  68.11px;
                background-color: $lighter-brown;
            }
            div.line-h{
                position: absolute;
                top: 50%;
                left: 0%;
                transform: translate(-50%, -50%);
                width: 168px;
                height: 1px;
                background-color: $lighter-brown;
            }
        }

        div.scroll-down{
            position: absolute;
            top: 82%;
            left: 88%;
            transform: translate(-50%, -50%);
            
            @media only screen and (max-width: 760px) {
                top: 100.5%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0.9);
                
            }
           
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            img.circle-text{
                animation: rotate 30s linear 0s infinite;
            }
        }
       
    }
}