@-webkit-keyframes moveToRight {
  50% {
    -webkit-transform: translate(8px, 0px);
            transform: translate(8px, 0px);
  }
}

@keyframes moveToRight {
  50% {
    -webkit-transform: translate(8px, 0px);
            transform: translate(8px, 0px);
  }
}

@-webkit-keyframes menuDown {
  0% {
    top: -640px;
  }
  100% {
    top: 0px;
  }
}

@keyframes menuDown {
  0% {
    top: -640px;
  }
  100% {
    top: 0px;
  }
}

@-webkit-keyframes itemAppear {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes itemAppear {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
            transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
            transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
            transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
            transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@-webkit-keyframes rotateReverse {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
            transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateZ(-360deg);
            transform: translate(-50%, -50%) rotateZ(-360deg);
  }
}

@keyframes rotateReverse {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
            transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateZ(-360deg);
            transform: translate(-50%, -50%) rotateZ(-360deg);
  }
}

@-webkit-keyframes rotateReverse2 {
  0% {
    -webkit-transform: rotateZ(0deg) scale(1);
            transform: rotateZ(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scale(1);
            transform: rotateZ(-360deg) scale(1);
  }
}

@keyframes rotateReverse2 {
  0% {
    -webkit-transform: rotateZ(0deg) scale(1);
            transform: rotateZ(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scale(1);
            transform: rotateZ(-360deg) scale(1);
  }
}

@-webkit-keyframes rotateReverse-sm {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateZ(0deg) scale(0.84);
            transform: translate(-50%, -50%) rotateZ(0deg) scale(0.84);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateZ(-360deg) scale(0.84);
            transform: translate(-50%, -50%) rotateZ(-360deg) scale(0.84);
  }
}

@keyframes rotateReverse-sm {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateZ(0deg) scale(0.84);
            transform: translate(-50%, -50%) rotateZ(0deg) scale(0.84);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotateZ(-360deg) scale(0.84);
            transform: translate(-50%, -50%) rotateZ(-360deg) scale(0.84);
  }
}

@-webkit-keyframes rotateReverse-sm2 {
  0% {
    -webkit-transform: rotateZ(0deg) scale(0.84);
            transform: rotateZ(0deg) scale(0.84);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scale(0.84);
            transform: rotateZ(-360deg) scale(0.84);
  }
}

@keyframes rotateReverse-sm2 {
  0% {
    -webkit-transform: rotateZ(0deg) scale(0.84);
            transform: rotateZ(0deg) scale(0.84);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scale(0.84);
            transform: rotateZ(-360deg) scale(0.84);
  }
}

@-webkit-keyframes fade-down {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes fade-down {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1A150C;
  overflow-x: hidden;
}

body main {
  display: none;
}

::-moz-selection {
  background-color: #AD8E55;
  color: #FFF8F0;
}

::selection {
  background-color: #AD8E55;
  color: #FFF8F0;
}

::-webkit-scrollbar {
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

.cursor {
  width: 40px;
  height: 40px;
  background-color: #AD8E55;
  border-radius: 50%;
  position: absolute;
  opacity: .99;
  pointer-events: none;
  z-index: 999999;
}

.cursor.active {
  width: 60px;
  height: 60px;
  mix-blend-mode: screen;
}

/*! locomotive-scroll v3.3.11 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
/* START */
/* END */
body {
  font-family: "Oranienbaum", serif;
  color: #AD8E55;
  font-size: 24px;
}

.heading-primary {
  font-family: "Oranienbaum", serif;
  font-size: 80px;
  line-height: 65px;
  font-weight: 400;
  color: #AD8E55;
}

.heading-secondary {
  font-family: "Oranienbaum", serif;
  font-size: 64px;
  font-weight: 400;
  color: #AD8E55;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #AD8E55;
  line-height: 30px;
}

/* HEADER FOR BIG SCREENS */
header.big-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 120px;
  z-index: 9999;
  padding: 40px 80px;
}

@media only screen and (max-width: 1260px) {
  header.big-screen {
    padding: 40px 50px;
  }
}

@media only screen and (max-width: 760px) {
  header.big-screen {
    padding: 36px 40px;
  }
}

@media only screen and (max-width: 680px) {
  header.big-screen {
    padding: 36px 30px;
  }
}

header.big-screen .logo {
  -ms-flex-preferred-size: 120px;
      flex-basis: 120px;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1260px) {
  header.big-screen .logo {
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
  }
}

header.big-screen .logo a {
  width: 120px;
  height: auto;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #AD8E55;
  text-decoration: none;
  letter-spacing: 3px;
}

@media only screen and (max-width: 1260px) {
  header.big-screen .logo a {
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
  }
}

header.big-screen .logo a p {
  font-size: 22px;
}

header.big-screen div.header-nav-search-menu-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.big-screen div.header-nav-search-menu-btns nav.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
}

@media only screen and (max-width: 1260px) {
  header.big-screen div.header-nav-search-menu-btns nav.header-nav {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 920px) {
  header.big-screen div.header-nav-search-menu-btns nav.header-nav {
    display: none;
  }
}

header.big-screen div.header-nav-search-menu-btns nav.header-nav a {
  text-decoration: none;
}

header.big-screen div.header-nav-search-menu-btns nav.header-nav a.nav-item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  padding: 10px 5px;
  margin: 20px 40px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media only screen and (max-width: 1260px) {
  header.big-screen div.header-nav-search-menu-btns nav.header-nav a.nav-item {
    margin: 20px 20px;
  }
}

@media only screen and (max-width: 1000px) {
  header.big-screen div.header-nav-search-menu-btns nav.header-nav a.nav-item {
    margin: 15px 15px;
  }
}

header.big-screen div.header-nav-search-menu-btns nav.header-nav a.nav-item span {
  font-family: "Oranienbaum", serif;
  font-size: 20px;
  color: #AD8E55;
  letter-spacing: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

header.big-screen div.header-nav-search-menu-btns div.search-menu-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.big-screen div.header-nav-search-menu-btns div.search-menu-btns .search-btn {
  margin-right: 36px;
  cursor: pointer;
}

header.big-screen div.header-nav-search-menu-btns div.search-menu-btns .menu-btn {
  width: 80px;
  z-index: 99999;
}

@media only screen and (max-width: 1260px) {
  header.big-screen div.header-nav-search-menu-btns div.search-menu-btns .menu-btn {
    width: 50px;
  }
}

header.big-screen div.header-nav-search-menu-btns div.search-menu-btns .menu-btn button {
  width: 80px;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #AD8E55;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

@media only screen and (max-width: 1260px) {
  header.big-screen div.header-nav-search-menu-btns div.search-menu-btns .menu-btn button {
    width: 50px;
  }
}

header.big-screen div.header-nav-search-menu-btns div.search-menu-btns .menu-btn button .menu-icon {
  width: 30px;
  height: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.big-screen div.header-nav-search-menu-btns div.search-menu-btns .menu-btn button .menu-icon div {
  width: 30px;
  height: 1px;
  background-color: #AD8E55;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

header.big-screen div.header-nav-search-menu-btns div.search-menu-btns .menu-btn button .menu-icon div.two {
  margin-left: 30px;
}

header.big-screen div.header-nav-search-menu-btns div.search-menu-btns .menu-btn button .menu-icon div.opened {
  -webkit-transform: translate(0px, 4px) rotate(45deg);
          transform: translate(0px, 4px) rotate(45deg);
}

header.big-screen div.header-nav-search-menu-btns div.search-menu-btns .menu-btn button .menu-icon div.opened.two {
  -webkit-transform: translate(-15px, -6px) rotate(-45deg);
          transform: translate(-15px, -6px) rotate(-45deg);
}

header.big-screen div.header-nav-search-menu-btns div.search-menu-btns .menu-btn button .menu-icon.opened div {
  -webkit-transform: translate(0px, 4px) rotate(45deg);
          transform: translate(0px, 4px) rotate(45deg);
}

header.big-screen div.header-nav-search-menu-btns div.search-menu-btns .menu-btn button .menu-icon.opened div.two {
  -webkit-transform: translate(-15px, -6px) rotate(-45deg);
          transform: translate(-15px, -6px) rotate(-45deg);
}

header.big-screen nav.menu-nav {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  height: 100vh;
  width: 101vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1A150C;
  -webkit-transition: all 0.6s cubic-bezier(0.77, -0.01, 0.59, 0.87);
  transition: all 0.6s cubic-bezier(0.77, -0.01, 0.59, 0.87);
}

header.big-screen nav.menu-nav ul {
  list-style: none;
}

header.big-screen nav.menu-nav ul.menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 760px) {
  header.big-screen nav.menu-nav ul.menu-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header.big-screen nav.menu-nav ul.menu-items li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header.big-screen nav.menu-nav ul.menu-items li:not(:last-child) {
  margin-right: 60px;
}

@media only screen and (max-width: 900px) {
  header.big-screen nav.menu-nav ul.menu-items li:not(:last-child) {
    margin-right: 40px;
  }
}

@media only screen and (max-width: 760px) {
  header.big-screen nav.menu-nav ul.menu-items li:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

header.big-screen nav.menu-nav ul.menu-items li a {
  text-decoration: none;
  font-family: "Oranienbaum", serif;
  font-size: 80px;
  color: #AD8E55;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  -webkit-transition: all 0.5s cubic-bezier(0.77, -0.01, 0.59, 0.87);
  transition: all 0.5s cubic-bezier(0.77, -0.01, 0.59, 0.87);
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

@media only screen and (max-width: 1300px) {
  header.big-screen nav.menu-nav ul.menu-items li a {
    font-size: 48px;
  }
}

@media only screen and (max-width: 1000px) {
  header.big-screen nav.menu-nav ul.menu-items li a {
    font-size: 42px;
  }
}

@media only screen and (max-width: 900px) {
  header.big-screen nav.menu-nav ul.menu-items li a {
    font-size: 36px;
  }
}

@media only screen and (max-width: 700px) {
  header.big-screen nav.menu-nav ul.menu-items li a {
    font-size: 34px;
  }
}

@media only screen and (max-width: 400px) {
  header.big-screen nav.menu-nav ul.menu-items li a {
    font-size: 32px;
  }
}

@media only screen and (max-width: 400px) {
  header.big-screen nav.menu-nav ul.menu-items li a {
    font-size: 30px;
  }
}

header.big-screen nav.menu-nav ul.contact {
  position: absolute;
  bottom: 30px;
  right: 0px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 760px) {
  header.big-screen nav.menu-nav ul.contact {
    left: 50%;
    width: 80%;
  }
}

header.big-screen nav.menu-nav ul.contact li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  -webkit-transition: all 0.5s cubic-bezier(0.77, -0.01, 0.59, 0.87);
  transition: all 0.5s cubic-bezier(0.77, -0.01, 0.59, 0.87);
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

header.big-screen nav.menu-nav ul.contact li p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.9px;
  opacity: 0.6;
  color: #AD8E55;
  margin-right: 10px;
}

header.big-screen nav.menu-nav ul.contact li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.9px;
  opacity: 0.6;
  color: #AD8E55;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header.big-screen nav.menu-nav ul.contact li a:hover {
  text-decoration: underline;
}

/* MEDIA QUERIES STARTS */
/* 1160px */
/* MEDIA QUERIES ENDS */
/* FOOTER FOR BIG SCREENS */
footer#contact.big-screen {
  width: 100vw;
  height: auto;
  height: auto;
  margin: 0px;
  padding: 30px 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media only screen and (max-width: 1260px) {
  footer#contact.big-screen {
    padding: 60px 50px 20px 50px;
  }
}

@media only screen and (max-width: 760px) {
  footer#contact.big-screen {
    padding: 60px 40px 16px 40px;
  }
}

@media only screen and (max-width: 680px) {
  footer#contact.big-screen {
    padding: 60px 30px 16px 30px;
  }
}

footer#contact.big-screen article {
  width: 100%;
}

footer#contact.big-screen article:not(:last-child) {
  margin-bottom: 50px;
}

@media only screen and (max-width: 500px) {
  footer#contact.big-screen article:not(:last-child) {
    margin-bottom: 30px;
  }
}

footer#contact.big-screen article.upper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 16px;
}

@media only screen and (max-width: 760px) {
  footer#contact.big-screen article.upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 28px;
  }
}

footer#contact.big-screen article.upper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleX(1.5);
          transform: translate(-50%, -50%) scaleX(1.5);
  width: 100%;
  height: 1px;
  background-color: #AD8E55;
  opacity: 0.5;
}

@media only screen and (max-width: 760px) {
  footer#contact.big-screen article.upper::after {
    width: 80%;
  }
}

footer#contact.big-screen article.upper nav.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
}

@media only screen and (max-width: 760px) {
  footer#contact.big-screen article.upper nav.footer-nav {
    margin-right: 0px;
    margin-bottom: 12px;
  }
}

footer#contact.big-screen article.upper nav.footer-nav a {
  text-decoration: none;
}

footer#contact.big-screen article.upper nav.footer-nav a.nav-item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  padding: 10px 5px;
  margin: 20px 40px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media only screen and (max-width: 760px) {
  footer#contact.big-screen article.upper nav.footer-nav a.nav-item {
    padding: 10px 0px;
    margin: 10px 0px 10px 0px;
  }
}

@media only screen and (max-width: 760px) {
  footer#contact.big-screen article.upper nav.footer-nav a.nav-item:not(:last-child) {
    margin-right: 20px;
  }
}

footer#contact.big-screen article.upper nav.footer-nav a.nav-item span {
  font-family: "Oranienbaum", serif;
  font-size: 20px;
  color: #AD8E55;
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

footer#contact.big-screen article.upper div.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer#contact.big-screen article.upper div.social-icons a {
  text-decoration: none;
}

footer#contact.big-screen article.upper div.social-icons a:not(:first-child) {
  margin-left: 20px;
}

footer#contact.big-screen article.lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 16px;
}

@media only screen and (max-width: 760px) {
  footer#contact.big-screen article.lower {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer#contact.big-screen article.lower div.copyright p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.9px;
  opacity: 0.6;
}

@media only screen and (max-width: 760px) {
  footer#contact.big-screen article.lower div.copyright {
    margin-bottom: 20px;
  }
}

footer#contact.big-screen article.lower div.privacy-terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer#contact.big-screen article.lower div.privacy-terms a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.9px;
  opacity: 0.6;
  color: #AD8E55;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer#contact.big-screen article.lower div.privacy-terms a:hover {
  text-decoration: underline;
}

footer#contact.big-screen article.lower div.privacy-terms span {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.9px;
  opacity: 0.6;
  color: #AD8E55;
  margin: 0 5px;
}

@media only screen and (max-width: 760px) {
  footer#contact.big-screen article.lower div.privacy-terms {
    margin-bottom: 20px;
  }
}

footer#contact.big-screen article.lower div.developed-by p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.9px;
  opacity: 0.6;
  color: #AD8E55;
}

footer#contact.big-screen article.lower div.developed-by p a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.9px;
  color: #AD8E55;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer#contact.big-screen article.lower div.developed-by p a:hover {
  text-decoration: underline;
}

/* MEDIA QUERIES STARTS */
/* 1160px */
/* MEDIA QUERIES ENDS */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: auto;
  margin: 240px auto 60px auto;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

main section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding: 0 80px;
}

@media only screen and (max-width: 1260px) {
  main section article {
    padding: 0px 50px;
  }
}

@media only screen and (max-width: 760px) {
  main section article {
    padding: 6px 40px;
  }
}

@media only screen and (max-width: 680px) {
  main section article {
    padding: 6px 30px;
  }
}

main section article div.img-container {
  width: 60%;
  height: auto;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1380px) {
  main section article div.img-container {
    width: 70%;
  }
}

@media only screen and (max-width: 920px) {
  main section article div.img-container {
    width: 80%;
  }
}

@media only screen and (max-width: 760px) {
  main section article div.img-container {
    width: 100%;
  }
}

main section article div.img-container img {
  width: 100%;
  height: auto;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

main section article div.artwork__info {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 130px;
}

@media only screen and (max-width: 1380px) {
  main section article div.artwork__info {
    width: 70%;
  }
}

@media only screen and (max-width: 920px) {
  main section article div.artwork__info {
    width: 80%;
  }
}

@media only screen and (max-width: 760px) {
  main section article div.artwork__info {
    width: 100%;
  }
}

main section article div.artwork__info h1 {
  font-size: 200px;
  line-height: 210px;
  margin-bottom: 60px;
  width: 490px;
}

main section article div.artwork__info div.radial-beams-paragraphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-bottom: 0px;
}

@media only screen and (max-width: 1120px) {
  main section article div.artwork__info div.radial-beams-paragraphs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

main section article div.artwork__info div.radial-beams-paragraphs img.radial-beams {
  width: 180px;
  height: 180px;
  -webkit-animation: rotateReverse2 30s linear 0s infinite;
          animation: rotateReverse2 30s linear 0s infinite;
  margin-right: 60px;
}

@media only screen and (max-width: 1120px) {
  main section article div.artwork__info div.radial-beams-paragraphs img.radial-beams {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 760px) {
  main section article div.artwork__info div.radial-beams-paragraphs img.radial-beams {
    -webkit-animation: rotateReverse-sm2 30s linear 0s infinite;
            animation: rotateReverse-sm2 30s linear 0s infinite;
  }
}

main section article div.artwork__info div.radial-beams-paragraphs div.paragraphs {
  position: relative;
  margin-bottom: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 1120px) {
  main section article div.artwork__info div.radial-beams-paragraphs div.paragraphs {
    margin-bottom: 60px;
  }
}

main section article div.artwork__info div.radial-beams-paragraphs div.paragraphs p {
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 33px;
}

main section article div.artwork__info div.radial-beams-paragraphs div.paragraphs p:nth-child(1) {
  margin-bottom: 40px;
}

main section article div.artwork__info div.radial-beams-paragraphs div.paragraphs div.pagination {
  position: absolute;
  bottom: -100px;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section article div.artwork__info div.radial-beams-paragraphs div.paragraphs div.pagination img.prev-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main section article div.artwork__info div.radial-beams-paragraphs div.paragraphs div.pagination div.pages {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 32px;
}

main section article div.artwork__info div.radial-beams-paragraphs div.paragraphs div.pagination div.pages p.current-page {
  height: 100%;
  margin: 0 5px;
  font-size: 28px;
  margin-bottom: 0px;
  letter-spacing: 0px;
  line-height: 35px;
}

main section article div.artwork__info div.radial-beams-paragraphs div.paragraphs div.pagination div.pages span.forwardslash {
  height: 70%;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 21px;
}

main section article div.artwork__info div.radial-beams-paragraphs div.paragraphs div.pagination div.pages p.total-pages {
  height: 70%;
  margin: 0 5px;
  font-size: 16px;
  margin-bottom: 0px;
  letter-spacing: 0px;
  line-height: 21px;
}

main section article div.artwork__info div.radial-beams-paragraphs div.paragraphs div.pagination button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

div.loading-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999999999;
  background-color: #1A150C;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

div.loading-screen p {
  font-size: 42px;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-animation: fade-down 1.2s ease 0.8 forwards;
          animation: fade-down 1.2s ease 0.8 forwards;
}
/*# sourceMappingURL=artwork.css.map */