@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../abstracts/animations";

@import "../base/base";
@import "../base/typography";

@import "../layouts/header";
@import "../layouts/footer";

@import "../components/hero-section";
@import "../components/artworks-section";
@import "../components/about-section";


div.loading-screen{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999999999;
    background-color: $brown-color;
    transition: all .5s ease-in; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    
    p{
        font-size: 42px;
        transition: all .1s ease-in; 
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        animation: fade-down 1.2s ease 0.8s forwards;
    }
    
    // img{
    //     width: 180px;
    //     height: auto;
    //     transition: all .5s ease-in; 
    // }
}