// COLORS
$brown-color: #1A150C;
$lighter-brown:#AD8E55;
$cream-color: #FFF8F0;


// FONTS
$heading-1-font-size: 80px;
$heading-2-font-size: 64px;

$paragraph-font-size-1: 24px;
$paragraph-font-size-2: 22px;
$paragraph-font-size-3: 20px;
$paragraph-font-size-4: 14px;

$font-family-1: 'Oranienbaum', serif;
$font-family-2: 'Roboto', sans-serif;



// FOR DEBUGGING (TEMP. VARIABLES)
$border-check-1: 1px solid red;
$border-check-2: 1px solid orange;
$border-check-3: 1px solid blue;